@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito');

$purple: rgb(135, 140, 223);
$green: rgb(153, 251, 198);
*{
	font-family: 'Nunito', sans-serif;
}
body {
	color: #000;
	font-size: 16px;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}
