$black: #000;
$white: #FFF;

/*Four main */
$myWhite: #F8F9F8;
$myBlack: #242834;
$myRed: #E31B6D;
$myBlue: #03C2C9;

/*Gradients */

$hyperRed: linear-gradient(141deg, #ff6a00 0%, #ff3939 51%, #ff0000 75%);
$middleHyperRed: #ff3939;

$hyperBlue: linear-gradient(141deg, #036ec9 0%, #2bdae0 31%, #03C2C9 75%);

$hyperBlue2: linear-gradient(141deg, #33dce2 0%, #1ce1e8 71%, #28ccd8 85%);