#app{
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100vh;
	perspective: 1px;
	transform-style: preserve-3d;
	background-size: cover;

}


.fun_color_box {
/*	background: linear-gradient(to bottom right, #fff 0%,   #fff 50%, #fc8a39 50%);
	animation: fun_animation 10s infinite linear alternate;
	background-size: 100% 200%;*/
}

@supports (-webkit-overflow-scrolling: touch) {
	#app {
		-webkit-overflow-scrolling: touch;
	}
}

@keyframes fun_animation {
	0% {
		background-position: 0% 0%
	}
	50% {
		background-position: 10% 10%
	}
	100% {
		background-position: 10% 20%
	}
}
