li.projects-image_container {
	display: flex;
  max-width: 100vw;	
	img {
		min-width: 150px;
		box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
		height: 100px;
	}

	div {
		margin: 0px 16px;
	}
	h4, p {
		margin: 0px;
	}
	a {
		color: #F8F9F8;
    background-color: #45bafc;
    margin: 0px;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: .25em;
    line-height: 1.25em;
    transition: 0.5s all;
    margin: 6px;
        padding: 6px;
    font-size: 26px;
    text-align: center;
    width: 140px;
    border-radius: 5px;
		text-decoration: none;
		&:hover {
			background-color: #Fff;
      color: #45bafc; 
		}
	}
}
.projects-more_container {
  margin: 0px !important;
  >div {
font-size: 1.25em;
    line-height: 1.75em;
    margin: 0px !important;
  }
}
.project-more_button {
  background-color: #242834 !important;
  &:hover {
    background-color: #fff !important;
    color: #242834 !important;
    cursor: pointer;
  }
}

@media only screen and (min-width: 769px) {
	li.projects-image_container {
	  width: 48%;
    margin: 8px auto;
  }
}

@media only screen and (min-width: 1300px) {
	li.projects-image_container {
	}
}

@media all and (max-width: 769px) {
  li.projects-image_container {
    display: block;
    margin: 18px 0px;
    text-align: center;
    width: 80%;
    img {
      width: 250px;
      height: auto;
      margin: 0 auto;
      text-align: center;
    }
  }
}
