@import '../../../../css/utils/variables.scss';

.hero-content_container {
	z-index: 2;
	clear: both;
	margin-right: 3.125%;
	margin-left: 3.125%;
	display: block;
	.hero-content_pretext {
		display: block;
    font-size: 1em;
    font-weight: bold;
		margin-bottom: .5em;
	}
	.hero-content_title {
		padding-left: 8px;  
    font-size: 18px;
		color: #45bafc;
		text-shadow: 0px 0px 0px rgba(0,0,0,0.95);
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
  .hero-content_dev {
    color: #45bafc;
    padding-right: 8px;
  }
  .hero-content_pro {
    color: #ff6a00;
    padding-left: 8px;
  }
  .hero-content_posttitle {
    font-size: 16px;
  }
	h1 {
		margin-bottom: 0px;
	}
}
@media only screen and (min-width: 769px) {
	.hero-content_container {
		width: 400px;
		background: rgba(0,0,0,0.7);
		color: white;
		padding: 16px;
	}
}
