.about_slide_container {
	background: #fff;
	
	img {
		width: 120px;
		float: left;
		height: 160px;
  
    margin-left: 16px;
    margin-right: 16px;
		margin-top: 16px;
		
    box-shadow: -4px -4px 2px rgba(0,0,0,5);
	}
	.dots_container {
		.dots_dot_current_target {
			background: #02b5b2 !important;
		}
	}
	.about_slide_title {
		
		font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
		margin: 16px;
		margin-top: 0px;
		padding-top: 16px;
    font-weight: bold;
		color: #02b5b2;
		text-align: center;
		
	}
	.about_slide_text {
    margin: 16px 64px;
    font-family: 'Open Sans', sans-serif;
    color: #242834;
    line-height: 33px;
		text-align: center;
		min-height: 260px;
	}
	.arrow_about_home.white_arrow {
		background: #242834;
		width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 32px solid #fff;
    margin: 0 auto;
	}
	.slide_go_button_container {
		margin: 8px auto;
		background: #02b5b2;
    padding: 3px 74px;
    border-radius: 4px;
    color: #fff;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 01);
		width: 60px;
		text-align: center;
		transition: 0.5s;
		&.orange {
			background: #02b5b2;
		}
		&.pink {
			background: #02b5b2;
		}
		&.green {
			background: #02b5b2;
		}
	
		&:hover {
			filter: brightness(120%);
			box-shadow: 2px 2px 10px rgba(0, 0, 0, 01);
		}
	}
	.slide_go_button {

	}
}