@import '../../../../css/utils/variables.scss';

.links-items_container {
	cursor: pointer;
	display: block;
	font-size: 1.5em;
	font-style: normal;
	font-weight: bold;
	letter-spacing: .125em;
	color: $myWhite;
	padding: 8px 0px 8px 16px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 5px;
	margin-bottom: 12px;
	transition: 0.25s all;
	&:hover {
		color: #242834;
		background: $myWhite;
	}
}
/* @media only screen and (max-width: 1024px) and (min-width: 769px) { */
@media only screen and (min-width: 769px) {
	.links-items_container {
		width: 149px;
    display: inline-block;
    flex: 1 0 0;
		margin: 10px;
		// background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	}
}
