@import '../../../css/utils/variables.scss';

.header-nav_container {
	color: #fff;
	display: flex;
	flex: 1 1 auto;
	flex-wrap: wrap;
	padding: 14px 0px;
	font-size: 1.0625em;
	letter-spacing: .1em;
  line-height: 1.5;
	text-transform: uppercase;
	display: block;
	flex: 1 1 auto;
	padding-top: 32px;
	padding-bottom: 0px;
	margin-left: 14px;
  background: #242834;
	ol, ul {
		list-style: none;
		padding-left: 0px;
		
	}
	li {
		display: inline-block;
		padding-right: 32px;
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				border-bottom: 2px solid #fff;
			}
		}
	}
}
