@import '../css/utils/variables.scss';

.footer_container{
	height: 80px;
	padding:40px;
}
.footer_text{

	padding: 16px;
	color: $white;
	div {
		display: inline-block;
		padding-left: 15px;
	}
	a {
		color: white;
		display: inline-block;
		transition: 0.3s all;
	}
	a:hover {
		transform: scale(1.1);
	}
}