@import '../../../css/utils/variables.scss';

.contact-title {
	color: $myBlack;
	margin: 0px;
	margin-right: 3.125%;
	margin-left: 3.125%;
	display: block;
	font-size: .75em;
	font-weight: bold;
	margin-bottom: .5em;
	line-height: 1.5em;
}