@import '../../../css/utils/variables.scss';

.global-title {
	margin: 0px;
	margin-right: 3.125%;
	margin-left: 3.125%;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: .5em;
	line-height: 1.5em;
  text-align: center;
}
