@import '../../../css/utils/variables.scss';

.header-banner_container {
	align-self: flex-end;
	display: block;
	flex: 0 0 auto;
	padding: 14px;
	background-color: $myBlack;
	img {
		width: 64px;
		border-radius: 50%;
		background-color: #77777794;
	}
}