.projects-content_container {
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 1.75em ;
    line-height: 1.75em;
}
@media all and (max-width: 776px) {
  .projects-content_container {
    margin: 1.75em 16px;
  }
}
