@import '../../../css/utils/variables.scss';

.contact-jump {
	color: $myWhite;
	background: #242834;
	margin: 0px;
	margin-right: 3.125%;
	margin-left: 3.125%;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: .5em;
	line-height: 1.5em;
	transition: 0.25s all;
	margin: 0 auto;
	text-align: center;
	width: 80%;
	border-radius: 5px;
	text-decoration: none;
  &:hover {
		color: $middleHyperRed;
		background: $myWhite;
	}
}

@media only screen and (min-width: 769px) {
	.contact-jump {
		color: #fff;
		background: #242834;
		transition: 0.25s all;
    margin-top: -5px;
		margin-bottom: 5px;
		width: 350px;
		&:hover {
			color: #242834;
			background: #fff;
		}
	}
}
